body{
    background-image: url(img/bad-cat-logo.jpg);
    background-color: rgb(216, 212, 212);
color: gold;
}
body h1{
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(4, 73, 38);
}
